<footer class="fixed-bottom bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">vhSolutions.at</a>
    </div>
    <!-- Copyright -->
  </footer>