<div class="dropdown">
    <button id="dropdownMenuButton" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [style.background-color]="selectedColor">
        <ng-content></ng-content>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let item of colors" (click)="onColorSelected(item)">
            {{item}}
        </a>
    </div>
</div>